@import '~sanitize.css';
@import './scss/variables';
@import './scss/keyframes';
@import './scss/mixins';
@import './scss/zIndex';

.l-terminalwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;

  &__inner {
    background-color: black;
    width: 600px;
    max-width: 100%;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    margin: 0;
    overflow: hidden;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
      pointer-events: none;
    }
  }

  .terminal-base {
    @include sp {
      min-height: 100vh;
    }
  }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}