/* width
--------------------------------------------------------- */
$WIDTH-SCREEN-SIDE-GUTTER: 16px;
$WIDTH-SCREEN-SIDE-GUTTER-PC: 32px;
$WIDTH-SCREEN-SIDE-GUTTER-PC-MAIN: $WIDTH-SCREEN-SIDE-GUTTER-PC + 70px;

$WIDTH-MAX: 1000px + $WIDTH-SCREEN-SIDE-GUTTER-PC * 2;
$WIDTH-MAX-MAIN: 1000px + $WIDTH-SCREEN-SIDE-GUTTER-PC-MAIN * 2;
$WIDTH-PC: 1024px;
$WIDTH-SM: 768px;
$WIDTH-XS: 768px;
